@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --beige: #f7f4d5;
    --dark-green: #0a3323;
    --moss-green: #839958;
    --rosy-brown: #d3968c;
    --midnight-green: #105666;
    --caput-mortuum: #632024;
    --font-big: 'Lexend Deca', sans-serif;
    --font-small: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-small);
    background-color: var(--beige);
    color: var(--dark-green);
}

body {
    padding: 1em;
    background-color: var(--beige);
}

.main-title {
    text-align: center;
}

h1, h2, h3 {
    font-family: var(--font-big);
    color: var(--dark-green);
    margin-bottom: 0.5em;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: var(--font-big);
    font-weight: bold;
    color: var(--midnight-green);
}

nav a {
    text-decoration: none;
    color: var(--rosy-brown);
    font-family: var(--font-big);
}

nav a:hover {
    color: var(--caput-mortuum);
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--moss-green);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: top;
}

.text-container {
    flex: 0 1 20em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.text-container p {
    margin: .075em 0 1em 0;
}

.cta-button {
    display: inline-block;
    padding: 0.75em 1.25em;
    background-color: var(--midnight-green);
    color: var(--rosy-brown);
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: 600;
    font-family: var(--font-big);
    margin-top: 5px;
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--rosy-brown);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
}


section#navigation {
    background-color: var(--moss-green);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "img-1 img-2 img-3 img-4";
    gap: 1em;
}

.grid-container img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
    transition: 100ms ease,;
}

.grid-container img:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none; /* removes underline */
    color: black;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;

}

.card p {
    margin-top: 0.5em;
    text-align: center;
    font-weight: 500;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}


.container{    
    width: 350px;
    height: 45vh;
    min-height: fit-content;
    background-color: var(--rosy-brown);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: #f7f4d5 solid 4px;
}

.music-player {
    width: 100%;
    background-color: var(--rosy-brown);
    border-radius: 1em;
    text-align: center;
    padding: 25px 35px;
}

nav#musikk {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: var(--beige);
    color: var(--caput-mortuum);
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song_img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: #f7f4d5 solid 4px;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22)
}

.music-player h2 {
    margin: 20px 0 10px 0;
    font-size: 1.5em;
    color: var(--caput-mortuum);
}

.music-player p {
    margin: 0;
    font-size: 0.9em;
    color: var(--caput-mortuum);
}

#progress {
    appearance: none;          /* standard property */
    -webkit-appearance: none;  /* for Safari/Chrome */

    width: 100%;
    height: 6px;
    background: var(--moss-green);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var(--caput-mortuum);
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid var(--beige);
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 45px;
    height: 45px;
    margin: 20px;
    background-color: var(--beige);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--caput-mortuum);
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background-color: var(--caput-mortuum);
    color: var(--beige);
}   

img#img-om-meg {
    width: 30%;
    height: auto;
    border-radius: 0.5em;
}